{# empty Twig template #}
{% extends 'layout.html.twig' %}
{% block body %}
<div class="banner"> 
  <div class="container">	
    <h1>Our clothing , your comfort</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
<div class="content" id="content"></div>
{% endblock %}